{% extends "base.html.twig" %}

{% block content %}


    <div class="row">
        <div class="col-md-8">


            <div class="content-background" style="background-image: url('https://picsum.photos/860/300'); height: 300px;">
            	<div class="content">

                </div><!-- /.content -->
            </div><!-- /.content-background -->
        </div><!-- /.col -->

        <div class="col-md-4">
            <div class="content-background background--donkerblauw">
                <div class="content">
                    <h2>Bijeenkomsten</h2>
                    <ul class="list list--links list--chevrons">
                        <li>
                            <a href="#"><b>12-3-2020 Amsterdam</b><br />De staat van de stad</a>
                        </li>
                        <li>
                            <a href="#"><b>12-3-2020 Den Haag</b><br />De staat van de stad</a>
                        </li>
                        <li>
                            <a href="#"><b>12-3-2020 Utrecht</b><br />De staat van de stad</a>
                        </li>
                    </ul>

                </div>
            </div>
            
            <!-- 
            <div class="content-background background--geel">
                <div class="content">
                    <button class="btn btn--primary">Primaire knop</button>
                </div>
            </div>
            
            
            <div class="content-background background--donkergeel">
                <div class="content">
                	<button class="btn btn--primary">Primaire knop</button>

                </div>
            </div>
            -->
        </div>
    </div>

<div class="row">
        <div class="col-md-12">
            <h2> Uitgelicht</h2>
            <ul class="list list--card">
                <li class="card">
                    <a href="#" class="card__content">
                        <div class="card__thumb" style="background-image: url('https://picsum.photos/200)"></div>
                        <div class="card__body">
                            <span class="card__title">Vooraan﻿&#8203;kondiging nieuwe werkwijze relatief verzuim</span>
                        </div>
                    </a>
                </li>
                <li class="card">
                    <a href="#" class="card__content">
                        <div class="card__thumb" style="background-image: url('https://picsum.photos/200')"></div>
                        <div class="card__body"><span class="card__title">Verzuimloket niet uitgefaseerd</span></div>
                    </a>
                </li>
                <li class="card">
                    <a href="#" class="card__content">
                        <div class="card__thumb" style="background-image: url('https://picsum.photos/200')"></div>
                        <div class="card__body"><span class="card__title">Opschonen vrijstellingen&#8203;register</span></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
        
    <script>
        /* Load collapse component */
        System.import('/uno/components/collapse/collapse.js').then(function (module) {

            /* Select all collapsible elements on the page */
            var elements = document.querySelectorAll('main [x-uno-collapse]');

            /* Initialize all collapses */
            for (var i = 0; i < elements.length; i++) {
                new module.Collapse(elements.item(i));
            }
        });

    </script>

{% endblock %}
