{% extends "base.html.twig" %}

{% block content %}

    <section class="row">
        <div class="col-md-12">
            <div class="content">


                <header class="content__header">
                    <h1 class="content__header-title">Een betere wereld voor iedereen</h1>
                </header>
            </div>
        </div>
    </section>

    <div class="row theme--small-padding">

        <div class="col-md-8">

            <div class="content-background">
                <div class="content" id="#event1">
                    <div class="row">
                        <h2>Beschrijving</h2>
                        <p>Duis hendrerit placerat ligula, placerat volutpat ligula. Nam commodo magna sed suscipit
                            vehicula. Fusce non elementum nulla. Pellentesque nec hendrerit leo. Fusce cursus posuere
                            nulla nec hendrerit. Nullam ullamcorper pulvinar odio, vitae varius quam lacinia sit amet.
                            Donec porttitor volutpat urna. Pellentesque ac scelerisque elit, vel egestas diam.</p>

                    </div>
                </div>
            </div>

            <!-- Page Break -->
            <div style="height: 20px"></div>

            <div class="content-background">
                <div class="content" >
                    <div class="row">
                        <h2>Beoogd resultaat</h2>
                        <p>Duis hendrerit placerat ligula, placerat volutpat ligula. Nam commodo magna sed suscipit
                            vehicula. Fusce non elementum nulla. Pellentesque nec hendrerit leo. Fusce cursus posuere
                            nulla nec hendrerit. Nullam ullamcorper pulvinar odio, vitae varius quam lacinia sit amet.
                            Donec porttitor volutpat urna. Pellentesque ac scelerisque elit, vel egestas diam.</p>

                    </div>
                </div>
            </div>
            
            <!-- Page Break -->
            <div style="height: 20px"></div>       
            
            <div class="content">
                <header class="content__header">
                    <header class="content__header">
                        <h1 class="content__header-title">Tijdlijn</h1>
                    </header>
                </header>
            </div><!-- ./content -->
            
            <!-- Page Break -->
            <div style="height: 20px"></div>       
            
            	<ul class="list list--timeline list--timeline-large list--timeline-no-start list--timeline-no-end" >
            		<li class="list__item">
            			<div class="content">
            				<time class="meta list__date" datetime="2017-08-03T00:00:00+02:00"> 3 augustus 2021</time>
            			</div>
            			<div class="content-background">
            				<div class="content">
            					<div class="list__content">
            						<strong>Terugmeldingen 2e voorlopige foto  2015 mbo vavo beschikbaar</strong>
            						<p>De terugmelding bekostigingsgrondslagen en de individuele terugmelding mbo en vavo van de tweede voorlopige foto van 1 oktober 2015 zij geplaatst.</p>
            						<p>
            						<a href="/particulier/nieuwsoverzicht/terugmeldingen-2e-voorlopige-foto-2015-mbo-vavo-beschikbaar/">Lees meer</a></p>
            					</div>
            				</div>
            			</div>
            		</li>
            		<li class="list__item">
            			<div class="content">
            				<time class="meta list__date" datetime="2017-03-26T00:00:00+01:00">26 maart 2021</time>
            			</div>
            			<div class="content-background">
            				<div class="content">
            					<div class="list__content">
            						<strong>Conferentie doorontwikkeling BRON</strong>
            						<p>
            							<a href="/particulier/nieuwsoverzicht/conferentie-doorontwikkeling-bron/">Lees meer</a>
            						</p>
            					</div>
            				</div>
            			</div>
            		</li>
            	</ul>


        </div>
        <div class="col-md-4">

            <div class="content-background">
                <div class="content">
                	<h2>Funding</h2>
                	<div class="donut-chart donut-chart--groen" id="compliancy-chart">
                        <h3 class="donut-chart__title">Overgebleven leenruimte studiejaar 2018/2019</h3>
                        <div class="donut-chart__chart">
                            <canvas class="donut-chart__canvas"></canvas>
                            <div class="donut-chart__inner">€ 2.000,00</div>
                        </div>
                        <span class="donut-chart__subtitle">over van € 10.000,00</span>
                    </div>
                </div><!-- ./content -->
            </div><!-- ./content-background -->
                    
                    <script>
                        System.import('/uno/components/donut-chart/donut-chart.js').then(function (module) {
                            var donutChart = new module.DonutChart(document.getElementById('compliancy-chart'));
                            donutChart.value = 80;
                            donutChart.draw();
                        });
                    </script>
            
            <!-- Page Break -->
                
            <!-- Page Break -->
            <div style="height: 20px"></div>            
            
            <div class="content-background background--donkerblauw">
                <div class="content">

                    <h2>Inschrijven</h2>
                    <form>
                        <div class="input">
                            <label class="input__label" for="name">Naam</label>
                            <input type="text" class="input__control input__control--text input__control--large">
                        </div>

                        <div class="input">
                            <label class="input__label" for="name">E-mail</label>
                            <input type="text" class="input__control input__control--text input__control--large">
                        </div>

                        <div class="input">
                            <label class="input__label" for="name">Organisatie</label>
                            <input type="text" class="input__control input__control--text input__control--large">
                        </div>

                        <div class="input">
                            <button type="submit" class="btn btn--primary">Verstuur</button>
                        </div>
                    </form>

                </div><!-- ./content -->
            </div><!-- ./content-background -->
            
            
            <!-- Page Break -->
            <div style="height: 20px"></div>
            
            
            <div class="content-background">
                <div class="content">
                	<h2>Indieners</h2>

                </div><!-- ./content -->
            </div><!-- ./content-background -->

        </div>
    </div>





    <script>
        System.import('/uno/components/form/combobox.js').then(function (module) {
            let multipleComboBox = new module.Combobox(document.getElementById('multiple_combobox'), true);
        });
    </script>




{% endblock %}
