{% extends "base.html.twig" %}

{% block content %}

    <section class="row">
        <div class="col-md-12">
            <div class="content">
                <header class="content__header">
                    <a class="backlink" href="{{ path('app_api_index') }}">API's</a>
                    <header class="content__header">
                        <h1 class="content__header-title">Over API</h1>
                    </header>
                </header>
            </div><!-- ./content -->
        </div><!-- ./col -->
    </section>

    <div class="row theme--small-padding">

        <div class="col-md-8">
            <div class="content-background">
                <div class="content">

                    <h2>Officia deserunt</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


                </div><!-- ./content -->
            </div><!-- ./content-background -->

            <!-- Page Break -->
            <div style="height: 20px"></div>

            <div class="content-background">
                <div class="content">

                    <div class="row">
                        <div class="col-md-7">
                            <h2>Organisatie</h2>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                cupidatat
                                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <a href="{{ path('app_organization_view',{'id':1}) }}" rel="noopener" class="btn btn--primary" target="_blank">Meer lezen <span class="btn__icon icon icon-arr-forward" title="" role=""></span></a>
                        </div>
                        <div class="col-md-5">
                            <img src="https://picsum.photos/200" class="responsive" width="100%">
                        </div>
                    </div>
                </div><!-- ./content -->
            </div><!-- ./content-background -->

            <!-- Page Break -->
            <div style="height: 20px"></div>

            <div class="content-background">
                <div class="content">

                    <div class="row">
                        <div class="col-md-7">
                            <h2>Updates</h2>

                            <ul class="list list--dash">
                                <li>10-2-2020 Security improved <a href="#">read more</a></li>
                                <li>10-2-2020 Security improved <a href="#">read more</a></li>
                                <li>10-2-2020 Security improved <a href="#">read more</a></li>
                            </ul>
                        </div>
                    </div><!-- ./content -->
                </div><!-- ./content-background -->
            </div><!-- ./col -->

            <!-- Page Break -->
            <div style="height: 20px"></div>

            <div class="content-background">
                <div class="content">
                    <h2>Reviews</h2>

                    <blockquote class="quote ">
                        Beste API ooit<br>
                        <span class="meta">– Conduction</span><br>
                    </blockquote>

                    <blockquote class="quote ">
                        Beste API ooit<br>
                        <span class="meta">– Conduction</span><br>
                    </blockquote>

                    <blockquote class="quote ">
                        Beste API ooit<br>
                        <span class="meta">– Conduction</span><br>
                    </blockquote>

                    <h3>Schrijf review</h3>
                    <form>
                        <div class="input">
                            <label class="input__label" for="name">Naam</label>
                            <input type="text"
                                   class="input__control input__control--text input__control--large">
                        </div>

                        <div class="input">
                            <label class="input__label" for="name">E-mail</label>
                            <input type="text"
                                   class="input__control input__control--text input__control--large">
                        </div>

                        <div class="input">
                            <label class="input__label" for="textarea_voorbeeld">Inhoud</label>
                            <textarea id="textarea_voorbeeld"
                                      class="input__control input__control--large input__control--text"></textarea>
                        </div>

                        <div class="input">
                            <button type="submit" class="btn btn--primary">Verstuur</button>
                        </div>
                    </form>
                </div><!-- ./content -->
            </div><!-- ./content-background -->

        </div><!-- ./col -->

        <div class="col-md-4">

            <div class="content-background">
                <div class="content">
                	<h2>Compliancy</h2>
                	<div class="donut-chart donut-chart--groen" id="compliancy-chart">
                        <div class="donut-chart__chart donut-chart--groen">
                            <canvas class="donut-chart__canvas donut-chart--groen"></canvas>
                            <div class="donut-chart__inner hidden" style="width: auto !imporant; height: auto !imporant;">80% compliant met nl api strategie</div>
                        </div>
                    </div>
                    
                   	<p>Deze api is voor 80% compliant met de NL API strategie</p>
                    
                    <p><button class="btn btn--primary">Lees compliancy scan</button></p>
                </div><!-- ./content -->
            </div><!-- ./content-background -->
                    
           <script>
				System.import('/uno/components/donut-chart/donut-chart.js').then(function (module) {
					var donutChart = new module.DonutChart(document.getElementById('compliancy-chart'));
						donutChart.value = 80;
						donutChart.draw();
                        });
           </script>
            
            <!-- Page Break -->
            <div style="height: 20px"></div>
            
            <div class="content-background background--donkerblauw">
                <div class="content">

                    <h2>Stel een vraag</h2>
                    <form>
                        <div class="input">
                            <label class="input__label" for="name">Naam</label>
                            <input type="text"
                                   class="input__control input__control--text input__control--large">
                        </div>
                        <div class="input">
                            <label class="input__label" for="name">E-mail</label>
                            <input type="text"
                                   class="input__control input__control--text input__control--large">
                        </div>

                        <div class="input">
                            <label class="input__label" for="textarea_voorbeeld">Vraag</label>
                            <textarea id="textarea_voorbeeld"
                                      class="input__control input__control--large input__control--text"></textarea>
                        </div>

                        <div class="input">
                            <button type="submit" class="btn btn--primary">Verstuur</button>
                        </div>
                    </form>

                </div><!-- ./content -->
            </div><!-- ./content-background -->

            <!-- Page Break -->
            <div style="height: 20px"></div>

            <div class="content-background background--donkerblauw">
                <div class="content">

                    <h2>Meld een issue</h2>
                    <form>
                        <div class="input">
                            <label class="input__label" for="name">Naam</label>
                            <input type="text" class="input__control input__control--text input__control--large">
                        </div>

                        <div class="input">
                            <label class="input__label" for="name">E-mail</label>
                            <input type="text" class="input__control input__control--text input__control--large">
                        </div>

                        <div class="input">
                            <label class="input__label" for="textarea_voorbeeld">Issue</label>
                            <textarea id="textarea_voorbeeld"
                                      class="input__control input__control--large input__control--text"></textarea>
                        </div>

                        <div class="input">
                            <button type="submit" class="btn btn--primary">Verstuur</button>
                        </div>
                    </form>

                </div><!-- ./content -->
            </div><!-- ./content-background -->

            <!-- Page Break -->
            <div style="height: 20px"></div>

            <div class="content-background background--donkerblauw">
                <div class="content">

                    <h2>API key aanvragen</h2>
                    <form>
                        <div class="input">
                            <label class="input__label" for="name">Naam</label>
                            <input type="text" class="input__control input__control--text input__control--large">
                        </div>

                        <div class="input">
                            <label class="input__label" for="name">E-mail</label>
                            <input type="text" class="input__control input__control--text input__control--large">
                        </div>

                        <div class="input">
                            <label class="input__label" for="name">Organisatie</label>
                            <input type="text" class="input__control input__control--text input__control--large">
                        </div>

                        <div class="input">
                            <label class="input__label" for="textarea_voorbeeld">Reden</label>
                            <textarea id="textarea_voorbeeld"
                                      class="input__control input__control--large input__control--text"></textarea>
                        </div>

                        <div class="input">
                            <button type="submit" class="btn btn--primary">Verstuur</button>
                        </div>
                    </form>

                </div><!-- ./content -->
            </div><!-- ./content-background -->

        </div><!-- ./col -->
    </div><!-- ./row -->


{% endblock %}
