{% extends "base.html.twig" %}

{% block content %}

    <section class="row">
        <div class="col-md-12">
            <div class="content">
                <header class="content__header">
                    <h1 class="content__header-title">Organisaties</h1>
                </header>
            </div><!-- ./content -->
        </div><!-- ./col -->
    </section>

    <div class="row theme--small-padding">
        <div class="col-md-8">
            <div class="content-background">
                <div class="content">

                    <h2>Officia deserunt</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div><!-- ./content -->
            </div><!-- ./content-background -->

            <!-- Page Break -->
            <div style="height: 20px"></div>

            <div class="content-background">
                <div class="content">

                    <h2>Organisaties</h2>

                    <ul class="list list--card list--card-small">
                        <li class="card card--small">
                            <a href="{{ path('app_organization_view', { 'id': 1 }) }}" class="card__content">
                                <div class="card__thumb"
                                     style="background-image: url('https://picsum.photos/200')"></div>
                                <div class="card__body"><span class="card__title">Organisatie</span>
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco
                                </div>
                            </a>
                        </li>
                        <li class="card card--small">
                            <a href="{{ path('app_organization_view', { 'id': 1 }) }}" class="card__content">
                                <div class="card__thumb"
                                     style="background-image: url('https://picsum.photos/200')"></div>
                                <div class="card__body"><span class="card__title">Organisatie</span>
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco
                                </div>
                            </a>
                        </li>
                    </ul>

                </div><!-- ./content -->
            </div><!-- ./content-background -->
        </div>

        <div class="col-md-4">
            <div class="content-background background--donkerblauw">
                <div class="content">
                    <h2>Zoeken naar organisaties</h2>
                    <form>
                        <div class="input combobox" id="example_combobox">
                            <input
                                class="combobox__input input__control input__control--text input__control--xl input__control--select"
                                id="autocomplete-kleur">
                        </div>

                        <div class="input">
                            <button type="submit" class="btn btn--primary hidden">Verder</button>
                        </div>
                    </form>
                </div><!-- ./content -->
            </div><!-- ./content-background -->
        </div><!-- ./col -->

    </div><!-- ./row -->

    <script>
        System.import('/uno/components/donut-chart/donut-chart.js').then(function (module) {
            var donutChart = new module.DonutChart(document.getElementById('complicancy_donut-chart'));
            donutChart.value = 80;
            donutChart.draw();
        });
    </script>

{% endblock %}
