{% extends "base.html.twig" %}

{% block content %}

    <section class="row">
        <div class="col-md-12">
            <div class="content">


                <header class="content__header">
                    <h1 class="content__header-title">Challenge</h1>
                </header>
            </div>
        </div>
    </section>

    <div class="row theme--small-padding">

        <div class="col-md-8">

            <div class="content-background">
                <div class="content" id="#event1">
                    <div class="row">
                        <img src="https://picsum.photos/300/150" class="responsive" width="100%">
                        <h2>Beschrijving</h2>
                        <p>Duis hendrerit placerat ligula, placerat volutpat ligula. Nam commodo magna sed suscipit
                            vehicula. Fusce non elementum nulla. Pellentesque nec hendrerit leo. Fusce cursus posuere
                            nulla nec hendrerit. Nullam ullamcorper pulvinar odio, vitae varius quam lacinia sit amet.
                            Donec porttitor volutpat urna. Pellentesque ac scelerisque elit, vel egestas diam.</p>

                    </div>
                </div>
            </div>

            <!-- Page Break -->
            <div style="height: 20px"></div>

            <div class="content-background">
                <div class="content">

                    <div class="row">
                        <div class="col-md-7">
                            <h2>Gezocht</h2>


                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                cupidatat
                                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            
                        </div>
                        <div class="col-md-5">
                            <img src="https://picsum.photos/200" class="responsive" width="100%"> 
                        </div>
                    </div>
                </div><!-- ./content -->
            </div><!-- ./content-background -->

        </div><!-- /.col -->
        <div class="col-md-4">
        
         <div class="content-background">
                <div class="content">
                	<h2>Tijdlijn</h2>
                        <ul class="list list--timeline list--timeline-no-start list--timeline-no-end">
                    		<li class="list__item">
                                <h3 class="list__item-heading">
                    				<time>1&nbsp;mei t/m 30&nbsp;augustus</time></h3>
                    				<p><a href="/zakelijk/primair-onderwijs/bekostiging-en-subsidies/tegemoetkoming-opleidingsscholen/tegemoetkoming-aspirant-opleidingsscholen.jsp">Indienen
                    					aanvraag aspirant-opleidingsscholen</a></p>
                    
                    		</li>
                    		<li class="list__item">
                                <h3 class="list__item-heading"><time>
                                    1&nbsp;juni
                                    t/m 30&nbsp;september
                                </time></h3>
                    			<p><a href="/zakelijk/primair-onderwijs/bekostiging-en-subsidies/tegemoetkoming-opleidingsscholen/opgave-aantal-studenten-opleidingsscholen.jsp">Indienen
                    					Opgave aantal studenten
                    					opleidingsscholen</a></p>
                    
                    		</li>
                    		<li class="list__item">
                                <h3 class="list__item-heading"><time>
                                    15&nbsp;juni
                                    <span class="label label--donkergeel">Deadline</span>
                                </time></h3>
                    			<p><a href="/zakelijk/primair-onderwijs/personeel/levering-personeelsgegevens.jsp">Levering
                    					personeelsgegevens kwartaal 1 po</a></p>
                    
                    		</li>
                    	</ul>
                </div><!-- ./content -->
            </div><!-- ./content-background -->
                
            <!-- Page Break -->
            <div style="height: 20px"></div>           
            
            
            <div class="content-background">
                <div class="content">
                    <h2>Documenten</h2>

                </div><!-- ./content -->
            </div><!-- ./content-background -->
        </div><!-- /.col -->

    </div><!-- /.row -->


    <script>
        System.import('/uno/components/form/combobox.js').then(function (module) {
            let multipleComboBox = new module.Combobox(document.getElementById('multiple_combobox'), true);
        });
    </script>




{% endblock %}
