{% extends "base.html.twig" %}

{% block content %}

    <section class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="content">
                <header class="content__header">
                    <header class="content__header">
                        <h1 class="content__header-title">Login</h1>
                    </header>
                </header>
            </div><!-- ./content -->
        </div><!-- ./col -->
    </section>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div class="content-background">
                <div class="content">
                    <form>
                            <div class="input">
                                <label class="input__label" for="name">Username</label>
                                <input type="text" class="input__control input__control--text input__control--large">
                            </div>

                            <div class="input">
                                <label class="input__label" for="name">Wachtwoord</label>
                                <input type="text" class="input__control input__control--text input__control--large">
                            </div>

                            <div class="input">
                                <a href="{{ path('app_developer_me') }}" class="btn btn--primary">Inloggen als developer </a>
                                <a href="{{ path('app_organization_me') }}" class="btn btn--primary">Inloggen als organisatie</a>
                            </div>
                    </form>

                </div>
            </div>
        </div>
    </div>


    <script>
        /* Load collapse component */
        System.import('/uno/components/collapse/collapse.js').then(function (module) {

            /* Select all collapsible elements on the page */
            var elements = document.querySelectorAll('main [x-uno-collapse]');

            /* Initialize all collapses */
            for (var i = 0; i < elements.length; i++) {
                new module.Collapse(elements.item(i));
            }
        });

    </script>

{% endblock %}
