    <nav class="top-nav" id="docs-nav">
        <div class="container">
            <div class="top-nav__block top-nav-autoresize">
                <ul class="nav">
                    <li class="nav__item">
                        <a href="{{ path('app_default_index') }}" title="Home" class="nav__link  ">
                            <i class="icon icon-home" role="presentation"></i>
                            <span>Home</span>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="{{ path('app_user_index') }}" title="Home" class="nav__link  ">
                            <i class="icon icon-user" role="presentation"></i>
                            <span>Inloggen</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

    </nav>
